.card {
  width: 300px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  padding: 0;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

.card-body {
  background-color: #f9f9f9;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  color: #555;
}

.btn-primary {
  margin-top: 10px;
}
